In [10]:
import pandas as pd

# Read the CSV file
df = solar_weather = pd.read_csv("solar_weather_processed.csv")

# Remove Energy_delta_Wh column
df = df.drop('Energy delta_Wh', axis=1)

# Filter for June 1-7, 2018 (days 152-158)
filtered_df = df[
    (df['Year'] == 2018) & 
    (df['Month_num'] == 6) & 
    (df['DayOfYear'].isin([152, 153, 154, 155, 156, 157, 158]))
]

# Save the modified data to a new CSV file
filtered_df.to_csv("laboratory.csv", index=False)

# Display the first few rows to verify
filtered_df.head()

,GHI,temp,pressure,humidity,wind_speed,rain_1h,clouds_all,Year,Month_num,DayOfYear,Minute,Hour,Season,Day,Week_cos,Energy_lag_1,Energy_lag_2
49056,0.0,19.9,1016.0,78.0,3.2,0.0,7.0,2018,6,152,0,0,1,4,-0.861044,0.0,0.0
49057,0.0,19.9,1016.0,78.0,3.2,0.0,7.0,2018,6,152,15,0,1,4,-0.861044,0.0,0.0
49058,0.0,19.9,1016.0,78.0,3.2,0.0,7.0,2018,6,152,30,0,1,4,-0.861044,0.0,0.0
49059,0.0,19.9,1016.0,78.0,3.2,0.0,7.0,2018,6,152,45,0,1,4,-0.861044,0.0,0.0
49060,0.0,18.8,1016.0,81.0,2.7,0.0,9.0,2018,6,152,0,1,1,4,-0.861044,0.0,0.0

In [9]:
filtered_df.head()

,GHI,temp,pressure,humidity,wind_speed,rain_1h,clouds_all,Year,Month_num,DayOfYear,Minute,Hour,Season,Day,Week_cos,Energy_lag_1,Energy_lag_2
49536,0.0,9.2,1018.0,78.0,4.2,0.0,0.0,2018,6,157,0,0,1,2,-0.915146,0.0,0.0
49537,0.0,9.2,1018.0,78.0,4.2,0.0,0.0,2018,6,157,15,0,1,2,-0.915146,0.0,0.0
49538,0.0,9.2,1018.0,78.0,4.2,0.0,0.0,2018,6,157,30,0,1,2,-0.915146,0.0,0.0
49539,0.0,9.2,1018.0,78.0,4.2,0.0,0.0,2018,6,157,45,0,1,2,-0.915146,0.0,0.0
49540,0.0,9.0,1019.0,79.0,4.2,0.0,0.0,2018,6,157,0,1,1,2,-0.915146,0.0,0.0

In [ ]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 672 entries, 49056 to 49727
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   GHI           672 non-null    float64
 1   temp          672 non-null    float64
 2   pressure      672 non-null    float64
 3   humidity      672 non-null    float64
 4   wind_speed    672 non-null    float64
 5   rain_1h       672 non-null    float64
 6   clouds_all    672 non-null    float64
 7   Year          672 non-null    int64
 8   Month_num     672 non-null    int64
 9   DayOfYear     672 non-null    int64
 10  Minute        672 non-null    int64
 11  Hour          672 non-null    int64
 12  Season        672 non-null    int64
 13  Day           672 non-null    int64
 14  Week_cos      672 non-null    float64
 15  Energy_lag_1  672 non-null    float64
 16  Energy_lag_2  672 non-null    float64
dtypes: float64(10), int64(7)
memory usage: 94.5 KB

: